
$darkGreen: #20858c;
$lightGreen: #d8f2f2;
$green: #4aadad;
$white: #fff;
$darkGrey: #30383b;
$lightGrey: #f5f5f5;
$grey: #e8ecef;
$lightBlue: #a6b2c0;
$darkBlue: #2e2f4f;


/* ZEROING */
body, p, h1, h2, h3, h4, div, main, section, aside, nav, ul, li, i, input, button {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
div, main, footer, header, section, nav, aside, input {
  box-sizing: border-box;
}

input, select {
  padding: 5px;
}

button, input {
  outline:none;
}
input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid $grey;
}
input:focus {
  border: 2px solid $green;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

button {
  padding: 5px 10px;
  background-color: $green;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: $lightGrey;
  font-size: 12px;
}
button:hover {
  color: $darkGrey;
}
button:active {
  background-color: $darkGreen;
}

#app {
  width: 100%;
}

